/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

 :root {
  --ifm-color-primary: #2a5884;
  --ifm-color-primary-dark: #264f77;
  --ifm-color-primary-darker: #244b70;
  --ifm-color-primary-darkest: #1d3e5c;
  --ifm-color-primary-light: #2e6191;
  --ifm-color-primary-lighter: #306598;
  --ifm-color-primary-lightest: #3772ac;
}

[data-theme='dark'] {
  --ifm-color-primary: #2ab0ea;
  --ifm-color-primary-dark: #16a5e2;
  --ifm-color-primary-darker: #159bd6;
  --ifm-color-primary-darkest: #1180b0;
  --ifm-color-primary-light: #43b9ec;
  --ifm-color-primary-lighter: #50beee;
  --ifm-color-primary-lightest: #75ccf1;
}